@media screen and (min-width: 1600px) {
    :root {
        background-color: red;
        margin-left: auto;
        margin-right: auto;
    }
}
html {
    min-width: 800px;
    max-width: 1600px;
    font-family: Oswald;
}
.burger{
    width: 50px;
    height: 50px;
    background-color: #F7654A;

    position: relative;
    left: 1250px;
    cursor: pointer;
}
.burger>:nth-child(1){
    width: 28px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 2px;
    position: relative;
    top: 14px;
    left: 11px;
}
.burger>:nth-child(2){
    width: 28px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 2px;
    position: relative;
    top: 19px;
    left: 11px;
}
.burger>:nth-child(3){
    width: 28px;
    height: 4px;
    background-color: #FFFFFF;
    border-radius: 2px;
    position: relative;
    top: 24px;
    left: 11px;
}
.container {
    width: 1600px;
    background-image: url(./img/first-screen.png);
    background-repeat: no-repeat;
    background-size: auto 740px;
    background-color: #E5E5E5;
}
.text_title1 {
    width: 734px;
    height: 171px;
    text-align: center;
    color: white;
    font-size: 64px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 94.85px;
    margin: 0 auto;
    padding-top: 192px;
}
.text_title2 {
    width: 734px;
    height: 22px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 26.68px;
    margin: 35px auto;
}
.div_center1 {
    width: 1110px;
    height: 300px;
    background-color: #F7F7F7;
    margin-top: 170px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    text-transform: uppercase;

}
.content-center1 {
    position: relative;
    top: 57px;
    margin-left: 130px;
    width: 190px;
    height: 86px;
    display: inline-block;
    color: #F7654A;
    font-size: 72px;
    font-weight: 500;
    text-align: center;
}
.content-center2 {
    position: relative;
    top: 57px;
    margin-left: 30px;
    width: 190px;
    height: 86px;
    display: inline-block;
    color: #F7654A;
    font-size: 72px;
    font-weight: 500;
    text-align: center;
}
.content-center3 {
    position: relative;
    top: 57px;
    margin-left: 30px;
    width: 190px;
    height: 86px;
    display: inline-block;
    color: #F7654A;
    font-size: 72px;
    font-weight: 500;
    text-align: center;
}
.content-center4 {
    position: relative;
    top: 57px;
    margin-left: 30px;
    width: 190px;
    height: 86px;
    display: inline-block;
    color: #F7654A;
    font-size: 72px;
    font-weight: 500;
    text-align: center;
}
.content-center5 {
    position: relative;
    margin-left: 130px;
    top: 80px;
    width: 190px;
    height: 43px;
    display: inline-block;
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    line-height: 53.35px;
    text-align: center;
}
.content-center6 {
    position: relative;
    margin-left: 30px;
    top: 80px;
    width: 190px;
    height: 43px;
    display: inline-block;
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    line-height: 53.35px;
    text-align: center;
}
.content-center7 {
    position: relative;
    margin-left: 30px;
    top: 80px;
    width: 190px;
    height: 43px;
    display: inline-block;
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    line-height: 53.35px;
    text-align: center;   
}
.content-center8 {
    position: relative;
    margin-left: 30px;
    top: 80px;
    width: 190px;
    height: 43px;
    display: inline-block;
    color: #000000;
    font-size: 36px;
    font-weight: 500;
    line-height: 53.35px;
    text-align: center;   
}
.content-center9 {
    position: relative;
    margin-left: 130px;
    top: 80px;
    width: 190px;
    height: 22px;
    display: inline-block;
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.68px;
    text-align: center;
}
.content-center10 {
    position: relative;
    margin-left: 30px;
    top: 80px;
    width: 190px;
    height: 22px;
    display: inline-block;
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.68px;
    text-align: center;
}
.content-center11 {
    position: relative;
    margin-left: 30px;
    top: 80px;
    width: 190px;
    height: 22px;
    display: inline-block;
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.68px;
    text-align: center;
}
.content-center12 {
    position: relative;
    margin-left: 30px;
    top: 80px;
    width: 190px;
    height: 22px;
    display: inline-block;
    color: #999999;
    font-size: 18px;
    font-weight: 500;
    line-height: 26.68px;
    text-align: center;
}
.div_center2{
    width: 506px;
    height: 43px;
    margin: 100px auto 0px auto;
}
.p_center2{
    margin: 0px auto;
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}
.container_bottom{
    width: 1110px;
    margin: 60px auto 0px auto;
    padding-bottom: 135px;
}
.cb1{
    width: 350px;
    margin: 0px 26px 0px 0px;
    display: inline-block;
}
.cb2{
    width: 350px;
    display: inline-block;
}
.line{
    width: 55px;
    height: 6px;
    margin-top: 45px;
    background-color: #F7654A;
}
.content-down1{
    margin-top: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 35.57px;
    color: #404149;
    ;
}
.content-down2{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 21.79px;
    text-transform: uppercase;
    color: #999999;
}
footer{
    background-color: #F7654A;
    height: 181px;
    width: 1600px;
    margin-top: -25px;
}
.footer_content1{
    margin: 0px;
    padding: 30px 0px 0px 405px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 48px;
}
.footer_content2{
    margin: 0px;
    padding: 20px 0px 0px 405px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 24px;
}
button{
    position: relative;
    top: -86px;
    left: 1340px;
    width: 185px;
    height: 49px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20.75px;
    text-transform: uppercase;
    font-family: Oswald;
}
[src*=""]{
    margin: 0px 7px -2px 0px
}
[src*="Vector1"]{
    position: relative;
    top: 12.25px;
    left: 405px;
}
[src*="Vector2"]{
    position: relative;
    top: 6.23px;
    left: 378.31px;
}

.y{
    background-image: ;
}