*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #354657;}
:root{
    font-size: 20px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    max-width: 1920px;
}
header{
    display: flex;
    height: 117px;
    background-color: #F8F4FC;
    flex-direction: column;
}
.header-top{
    flex-grow: 1;
    font-weight: 700;
    color: #354657;
}
.nav_header{
    font-size: 0.8rem;
    text-transform: uppercase;
    position: relative;
}
.nav_header>ul>li:nth-of-type(1)
{
    padding-left: 316px;
    padding-top: 11px;
    display: inline-block;
}
.nav_header>ul>li:nth-of-type(2)
{
    display: inline-block;
    position: relative;
    top: -24px;
    padding-left: 90px;
}
.nav_header>ul>li:nth-of-type(3)
{
    display: inline-block;
    position: relative;
    top: -24px;
    padding-left: 50px;
}
.nav_header>ul>li:nth-of-type(4)
{
    display: inline-block;
    position: relative;
    top: -24px;
    padding-left: 50px;
}
.nav_header>ul>li:nth-of-type(5)
{
    display: inline-block;
    position: relative;
    top: -24px;
    padding-left: 50px;
}
.nav_header>ul>li:nth-of-type(6)
{
    display: inline-block;
    position: relative;
    top: -15px;
    padding-left: 380px;
}
.nav_header>ul>li:nth-of-type(7)
{
    display: inline-block;
    position: relative;
    top: -15px;
    padding-left: 34px;
}
.nav_header>ul>li:nth-of-type(8)
{
    display: inline-block;
    position: relative;
    top: -15px;
    padding-left: 34px;
}
.header-bottom{
    flex-grow: 2;
}
.header-bootm_content{
    margin-left: 316px;
    margin-top: 10px;
    display: flex;
    justify-content: flex-start;
    color: #626262;
    font-size: 0.8rem;
}
.item{
    margin-left: 10px;
    text-align: center;
    text-decoration: underline;
}
.home{
    padding-top: 2px;
}
main{
    width: 1288px;
    margin: 0px auto;
}
.h1-main{
    font-size: 1.5rem;
    font-weight: 700;
    color: #354657;
    margin-top: 71px;
}
.line-main{
    height: 1px;
    margin-top: 17px;
    background-color: #E2E2E2;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 961px;
    margin-top: 40px;
    margin-bottom: 150px;
}
.side-left{
    display: flex;
    width: 384px;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}
.sl-top{
    background-color: #F0F2F5;
    height: 113px;
    box-sizing: border-box;
}
.h3_label{
    font-weight: 700;
    font-size: 1rem;
    margin: 20px;
}
.p_sl-top{
    display: inline;
    margin-left: 20px;
    font-size: 0.8rem;
}

input.radio {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 17px;
    height: 17px;
  
    border: 1px solid #946FD3;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
  }
  
  input.radio:checked {
    border: 5px solid #946FD3;
  }

.sl-bottom{
    background-color: #F0F2F5;
    height: 818px;
    box-sizing: border-box;
}
div.sl-bottom p{
    margin: 20px;
}

div.sl-bottom p label{
    display: block;
    font-size: 0.7rem;
    margin-bottom: 10px;
}
div.sl-bottom p input{
    display: block;
    font-size: 0.7rem;
    color: #ADA8A8;
    width: 100%;
    height: 38px;
    padding-left: 20px;
    border-radius: 3px;
    border: 1px solid #B6B6B6;
}
div.sl-bottom p input::placeholder{
    color: #ADA8A8
}
div.sl-bottom h3:nth-of-type(2)
{
    margin: 30px 20px ;
}

.side-right{
    width: 874px;
    height: 961px;
}
.rs-top{
    height: 113px;
    background-color: #F0F2F5;
    box-sizing: border-box;
}
.rs-middletop{
    height: 113px;
    background-color: #F0F2F5;
    margin-top: 30px;
}
.h3_rs_label{
    font-weight: 700;
    font-size: 1rem;
    padding: 20px;
}
.h3-middletop{
    font-weight: 700;
    font-size: 1rem;
    margin: 61px 0px 15px 0px;
}
table{
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    text-align: left;
    font-size: 0.7rem;
    color: #354657;
}
.col1{
    padding-left: 20px;
}
.row1{
    height: 41px;
    background-color: #F0F2F5;
    font-size: 0.7rem;
    font-weight: 700;
    color: #354657;
    text-transform: uppercase;
}
.row2{height: 65px;}
.row3{height: 47px;}
.row4{height: 47px;}
.row5{height: 47px;}


tr.row2 td input{
    display: inline;
    height: 33px;
    width: 47px;
    text-align: center;
    font-size: 0.8rem;
    color: #354657;
}
tr.row2 td button{
    display: inline;
    border: none;
    vertical-align: middle;
}

.t-content{
    text-align: right;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-weight: 700;
    padding-right: 20px;
}
.t-bg{background-color: #F0F2F5;}

.row2> .col4{
    text-align: center;
}
.comment-rect
{
    height: 318px;
    background-color: #F0F2F5;
    margin-top: 40px;
}
div.comment-rect p{
    margin: 10px 0px 0px 20px;
}
div.comment-rect p + p{
    width: 630px;
    height: 19px;
    position: relative;
    top: 0px;
    left: 0px;
}

div.comment-rect label{
    display: block;
    font-size: 0.7rem;
    color: #354657;
    margin-bottom: 10px;
}
div.comment-rect textarea{
    width: 834px;
    height: 86px;
    padding: 11px 0px 0px 9px;
    resize: none;
}
.pay_button{
    height: 54px;
    width: 206px;
    background-color: #946FD3;
    color: #FFFFFF;
    font-size: .8rem;
    border-radius: 50px;
    position: relative;
    left: 628px;
    top: 10px;
}

.footer-main{
    display: flex;
    height: 97px;
    width: 1920px;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #E2E2E2;
}
footer div{
    text-transform: uppercase;
    color: #354657;
    font-size: 0.8rem;
    font-weight: 700;
}
.footer-1-fool1{
    flex-basis: 316px;
}
.footer-2-logo{
    flex-basis: 267px;
}
.footer-3-fool2{
    flex-basis: 90px;
}
.footer-4-ourteam{
    flex-basis: 136px;
}
.footer-5-fool3{
    flex-basis: 40px;
}
.footer-6-contact{
    flex-basis: 77px;
}
.footer-7-fool4{
    flex-basis: 490px;
}
.footer-8-ic_fb{
    flex-basis: 28px;
}
.footer-9-fool5{
    flex-basis: 17px;
}
.footer-10-ic_inst{
    flex-basis: 28px;
}
.footer-11-fool5{
    flex-basis: 17px;
}
.footer-12-ic_youtube{
    flex-basis: 28px;
}
.footer-13-fool6{
    flex-basis: 17px;
}
.footer-14-ic_inst{
    flex-basis: 28px;
}
.footer-15-ic_fool7{
    flex-basis: 17px;
}
.footer-16-ic_paint{
    flex-basis: 28px;
}