*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    font-size: 20px;
    background-color: #ECECEC;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    max-width: 1920px;
    overflow: auto;
}
header{
    display: flex;
    height: 100px;
    background-color: #FFFFFF;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 1px 1px 1px #C4C4C4;
}
.flex_logo{
    margin-left: 351px;
    margin-top: 3px;
    flex-shrink: 1;
}
header input{
    width: 500px;
    height: 50px;
    margin-left: 100px;
    padding-left: 47px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #A1A1A1;
    border: 2px solid #323232;
    background-image: url(./img/button-city-select.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 17px; /*Позиционируем*/   
    outline: none; /*убираем стандартную обводку браузера*/   
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/  
    flex-shrink: 1; 
}

header button{
    width: 98px;
    height: 50px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #FFFFFF;
    text-align: center;
    vertical-align: 100%;
    border-radius: 5px;
    flex-shrink: 1;
}
.bt_enter{
    background-color: #EF781A;
    margin-left: 334px;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 1px #C4C4C4;
}
.bt_enter:active{
    box-shadow: -1px -1px 1px #C4C4C4;
}
.bt_shopbag{
    background-color: #00D008;
    margin-left: 30px;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 1px #C4C4C4;
}
.bt_shopbag:active{
    box-shadow: -1px -1px 1px #C4C4C4;
}
main{
    max-width: 1238px;
    height: 750px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 70px auto;
}
.side-left{
    display: flex;
    flex-direction: column;
    width: 312px;
    height: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 1px 3px 3px #C4C4C4;
    align-items: center;
}
.bt_change{
    align-self: flex-start;
    width: 66px;
    height: 29px;
    color: #BEBEBE;
    font-size: .6rem;
    background-color: white;
    border: 1px solid #BEBEBE;
    border-radius: 5px;
    box-shadow: 1px 1px 1px #C4C4C4;
    margin: 20px 0px 12px 233px;
}
.bt_change:active{
    box-shadow: -1px -1px 1px #C4C4C4;
    }
.side-left h4{
    align-self: flex-start;
    font-size: .6rem;
    color: #000000;
    padding: 20px 0 0 38px;
}
.side-left p{
    align-self: flex-start;
    font-size: .6rem;
    color: #A0A0A0;
    padding: 8px 0 0 38px;
    line-height: 17px;
}
.bt_goto_order{
    width: 282px;
    height: 50px;
    background-color: #04BE00;
    border-radius: 10px;
    border: 1px solid #04BE00;
    box-shadow: 2px 2px 1px #C4C4C4;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 222px;
}
.bt_goto_order:active{
    box-shadow: -1px -1px 1px #C4C4C4;
    }
.bt_exit{
    width: 282px;
    height: 50px;
    background-color: #DF0D00;
    border-radius: 10px;
    border: 1px solid #DF0D00;
    box-shadow: 2px 2px 1px #C4C4C4;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.8rem;
    margin-top: 20px;
}
.bt_exit:active{
    box-shadow: -1px -1px 1px #C4C4C4;
    }
.side-right{
    width: 876px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sr-top{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 150px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 1px 3px 3px #C4C4C4;
}
.srt-top{
    font-size: 0.7rem;
    color: #000000;
    padding-left: 29px;
    margin-top: 27px;

}
.srt-middle{
    font-size: 1.8rem;
    font-weight: 800;
    color: #000000;
    padding-left: 29px;
    margin-top: 9px;
}
.srt-middle span{
    color: #A0A0A0;
}

.srt-bottom{
    font-size: 0.6rem;
    color: #000000;
    padding-left: 29px;
    margin-top: 11px;
}
.sr-bottom{
    height: 580px;
    border-radius: 10px;
    box-shadow: 1px 3px 3px #C4C4C4;
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.6rem;
}
.srb-h3{
    background-color: #FFFFFF;
    font-size: 0.9rem;
    width: 100%;
    padding:  21px 0 0 29px;
    border-radius: 10px 10px 0 0;
}
.srb-row1{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 29px 10px 12px 10px;
    align-items: center;

}
button.srb-row2{
    align-self: flex-start;
    width: 170px;
    height: 35px;
    border-radius: 20px;
    color: #757575;
    background-color: #EAEAEA;
    margin: 24px 0 16px 29px;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 1px #C4C4C4;
}
button.srb-row2:active{
    box-shadow: -1px -1px 1px #C4C4C4;
}
.srb-row3{
    height: 62px;
    width: 855px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px #C4C4C4;
}
button.srb-row4{
    align-self: flex-start;
    width: 170px;
    height: 35px;
    border-radius: 20px;
    color: #757575;
    background-color: #EAEAEA;
    margin: 24px 0 16px 29px;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 1px #C4C4C4;
}
button.srb-row4:active{
    box-shadow: -1px -1px 1px #C4C4C4;
}
.srb-row5{
    height: 62px;
    width: 855px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px #C4C4C4;
    margin-bottom: 15px;
}
.srb-row6{
    height: 62px;
    width: 855px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px #C4C4C4;
    margin-bottom: 15px;
}
.srb-row7{
    height: 62px;
    width: 855px;
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 1px #C4C4C4;
    margin-bottom: 15px;
}
.srb-col1{
    width: 110px;
    text-align: center;
}
.srb-col2{
    width: 110px;
    text-align: center;
}
.srb-col3{
    width: 110px;
    text-align: center;
}
.srb-col4{
    width: 110px;
    text-align: center;
}
.srb-col5{
    width: 110px;
    text-align: center;
}
.srb-col6{
    width: 110px;
    text-align: center;
}
.srb-col7{
    width: 110px;
    text-align: center;
}
.srb-col1 >div + div + div{
    color: blue;
    text-decoration: underline;
}


footer{
    display: flex;
    height: 100px;
    background-color: #323232;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.9rem;
    text-decoration: none;
    color: #FFFFFF;
}
footer > a {
    margin-left: 351px;
    text-decoration: none;
    color: #FFFFFF;
}
footer > a + a {
    margin-left: 27px;
}
footer > a + a + a {
    margin-left: 16px;
}
footer > a + a + a + a {
    margin-left: 759px;
}
footer > a + a + a + a + a {
    margin-left: 30px;
}
footer > a + a + a + a + a + a {
    margin-left: 30px;
}