body{
    margin: 0px;
    background-color:#131313;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    color: #FFFFFF;
}

.container {
    width: 100%;
    max-width: 1157px;
    margin: 0 auto;
    line-height: 19.5;
}

.logo{
    position: absolute;
    width: 177px;
    height: 59px;
    left: 387px;
    top: 0px;
    font-family: 'Caveat';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #1ACD4C;
}

.cartnomber{
    position: absolute;
    width: 214px;
    height: 59px;
    left: 502px;
    top: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
li{
    display: inline;
}
a{
    text-decoration: none;
}
.menu__list{
    position: absolute;
    width: 1014px;
    height: 59px;
    left: 728px;
    top: -126px;
}
.menu__list-text{
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    align-items: center;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 3em;
}

.labeltable{
    position: absolute;
    width: 517px;
    height: 41px;
    left: 387px;
    top: 150px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 37px;
    color: #FFFFFF;
}

.table_properties{
    position: absolute;
    top: 284px;
    left: 387px;
    width: 100%;
    max-width: 1146px;
    height: 530px;
    text-align: left;
    border-collapse: collapse;
}

th{
    color: #727272;
}
.tr_properties{
    border: 1px solid #272727;
}
.footer-right{
    position: absolute;
    width: 147px;
    height: 0px;
    left: 667px;
    top: 848px;
    border: 2px solid #272727;
    box-sizing: border-box;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    display: inline-block;
}
.footer-left{
    position: absolute;
    width: 147px;
    height: 0px;
    left: 1080px;
    top: 848px;
    border: 2px solid #272727;
    box-sizing: border-box;
    display: inline-block;
}

.footer_№1{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 877px;
    top: 845px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #4F4F4F;
}

.footer_№2{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 921px;
    top: 845px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.footer_№4{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 965px;
    top: 845px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
}
.footer_№5{
    position: absolute;
    width: 44px;
    height: 35px;
    left: 1009px;
    top: 845px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}
a:hover{
    color: #727272;
    text-decoration: line-through;

}