/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: #FFFFFF;
	font-family: 'Montserrat', sans-serif;
	color: #000000;
	font-size: 20px;
    font-weight: 500;
}
ul {
	list-style: none;
}
a {
    text-decoration: none;
}

/* ================ */
.wrapper {
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(100px, auto) / 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}
/* ================ */
.header {
    grid-area: header;
    border-bottom: 1px solid #C4C4C4;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 1fr 1218px 1fr;
}
.header__body {
    grid-column: 2 / 3;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / minmax(77px, 177px) minmax(500px, auto) minmax(100px, 130px) minmax(100px, 130px);
    align-items: center;
}
.header__logo {

}
.header__form {

}
.header__input {
    width: 500px;
    height: 50px;
    padding-left: 47px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #A1A1A1;
    border: 2px solid #323232;
    background-image: url(./img/adress.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 17px; /*Позиционируем*/   
    outline: none; /*убираем стандартную обводку браузера*/   
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/  
}
.header__button {
    justify-self: end;
    width: 98px;
    height: 50px;
    font-weight: 700;
    font-size: 0.8rem;
    color: #FFFFFF;
    text-align: center;
    vertical-align: 100%;
    border-radius: 5px;
}
.bt_enter{
    background-color: #EF781A;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 1px #C4C4C4;
}
.bt_enter:active{
    box-shadow: -1px -1px 1px #C4C4C4;
}
.bt_shopbag{
    background-color: #00D008;
    border: 1px solid #C4C4C4;
    box-shadow: 1px 1px 1px #C4C4C4;
}
.bt_shopbag:active{
    box-shadow: -1px -1px 1px #C4C4C4;
}

/* ================ */
.main {
    grid-area: main;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 1fr 1218px 1fr;
}
.content {
    grid-column: 2 / 3;
    display: grid;
}
.market {
    background-color: #FFD086;
    width: 100%;
    height: 380px;
    border-radius: 10px;
    margin-top: 35px;

    display: grid;
    grid-template: 50% 50% / 50% 50% ;
}
.market_item1 {
    font-size: 1.8rem;
    font-weight: 900;
    line-height: 44px;
    align-self: flex-end;
    padding-left: 20px;
}
.market_item2 {
    grid-row: span 2;
}
.market_item3 {
    line-height: 24px;
    width: 500px;
    padding: 25px 0px 0px 20px;
}

.restourants {
    margin: 32px 0px;
}
.restourants__title{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 33px;
}
.restourants > form {
    display: inline-block;
    align-items: center;
    float: right;
}
.restourants__input {
    width: 500px;
    height: 50px;
    padding-left: 47px;
    font-size: 0.8rem;
    border-radius: 5px;
    color: #A1A1A1;
    border: 2px solid rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 10px;
    background-image: url(./img/search_icon.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 17px; /*Позиционируем*/   
    outline: none; /*убираем стандартную обводку браузера*/   
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/  
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/ 
}
.restorant__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));

}
.restorant__item {
    display: grid;
	width: 386px;
    height: 230px;
    box-shadow: 2px 2px 10px #A1A1A1;
    border-radius: 10px;
    grid-template: 60% 40% / 1fr ;
    position: relative;
    text-decoration: none;
}
.underside {
    background-color: #FFFFFF;
    border-radius:  0 0 10px 10px;
}
.restorant__name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0 0 20px;
    color: #000000;
}
.rest__duration {
    display: inline-block;
    min-width: 108px;
    height: 30px;
    background-color: #FE7D34;
    color: #000000;
    font-size: .7rem;
    line-height: 1.5rem;
    margin: 14px 0 0 20px;
    padding-left: 33px;
    padding-right: 6px;
    border-radius: 5px;
    background-image: url(./img/ic_duration.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 7px; /*Позиционируем*/ 
}
.rest__price {
    display: inline-block;
    min-width: 89px;
    height: 30px;
    background-color: #00D008;
    color: #000000;
    font-size: .7rem;
    line-height: 1.5rem;
    margin: 14px 0 0 18px;
    padding-left: 33px;
    padding-right: 6px;
    border-radius: 5px;
    background-image: url(./img/ic_bike.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 4px; /*Позиционируем*/ 
}
.rest__label_popular {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 139px;
    height: 39px;
    background-color: #FF800C;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .7rem;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    padding-top: 11px;
}
.rest__freedelivery {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 167px;
    height: 56px;
    background-color: #FF0C0C;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .7rem;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    padding-top: 11px;
}
.rest__freechiken {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 236px;
    height: 39px;
    background-color: #FF0C0C;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .7rem;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    padding-top: 11px;
}

.item__mcdonalds{
    background-image: url(./img/pic_mcdonalds.svg);
}
.item__mafia{
    background-image: url(./img/pic_mafia.svg);
}
.item__kfc{
    background-image: url(./img/pic_kfc.svg);
}
.item__Pizza_House{
    background-image: url(./img/pic_Pizza_House.svg);
}
.item__Rukola{
    background-image: url(./img/pic_Rukola.svg);
}
.item__Lviv_Croissans{
    background-image: url(./img/pic_Lviv_Croissans.svg);
}
.item__Mamamia{
    background-image: url(./img/pic_Mamamia.svg);
}
.item__breadly{
    background-image: url(./img/pic_breadly.svg);
}
.item__Time_Cafe{
    background-image: url(./img/pic_Time_Cafe.svg);
}
.item__Salateira{
    background-image: url(./img/pic_Salateira.svg);
}
.item__Green_13{
    background-image: url(./img/pic_Green_13.svg);
}
.item__VAPIANO{
    background-image: url(./img/pic_VAPIANO.svg);
}
.item__papa_jones{
    background-image: url(./img/pic_papa_jones.svg);
}

.magazines {
    margin: 32px 0px;
    margin: 32px 0 200px 0;
}
.magazines__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin-bottom: 33px;
}
.magazines__items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(386px, 1fr));
}
.magazines__item {
    display: grid;
	width: 386px;
    height: 230px;
    box-shadow: 2px 2px 10px #A1A1A1;
    border-radius: 10px;
    grid-template: 60% 40% / 1fr ;
    position: relative;
    text-decoration: none;
}
.magazines__name {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 10px 0 0 20px;
    color: #000000;

}
.magaz__duration {
    display: inline-block;
    min-width: 108px;
    height: 30px;
    background-color: #FE7D34;
    color: #000000;
    font-size: .7rem;
    line-height: 1.5rem;
    margin: 14px 0 0 20px;
    padding-left: 33px;
    padding-right: 6px;
    border-radius: 5px;
    background-image: url(./img/ic_duration.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 7px; /*Позиционируем*/ 
}
.magaz__price {
    display: inline-block;
    min-width: 89px;
    height: 30px;
    background-color: #00D008;
    color: #000000;
    font-size: .7rem;
    line-height: 1.5rem;
    margin: 14px 0 0 18px;
    padding-left: 33px;
    padding-right: 6px;
    border-radius: 5px;
    background-image: url(./img/ic_bike.svg);   
    background-repeat: no-repeat; /*Убираем повтор изображения*/   
    background-position: 4px; /*Позиционируем*/ 
}
.magaz__freedelivery {
    position: absolute;
    top: 10px;
    left: 11px;
    width: 167px;
    height: 56px;
    background-color: #FF0C0C;
    text-transform: uppercase;
    color: #ffffff;
    font-size: .7rem;
    font-weight: 800;
    border-radius: 5px;
    text-align: center;
    padding-top: 11px;
}

.item__fora {
    background-image: url(./img/pic_fora.svg);
}
.item__atb {
    background-image: url(./img/pic_atb.svg);
}
.item__silpo {
    background-image: url(./img/pic_silpo.svg);
}
.item__eva {
    background-image: url(./img/pic_eva.svg);
}

/* ================ */
.footer {
    grid-area: footer;
    background-color: #323232;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / 1fr 1218px 1fr;
}
.footer__body {
    grid-column: 2 / 3;

}
.footer__menu {
    height: 100%;
}
.footer__list {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template: 1fr / minmax(104px, 1fr) minmax(104px, 1fr) minmax(104px, 1fr) 1fr minmax(40px, 58px) minmax(40px, 58px) minmax(40px, 58px) ;
    align-items: center;
}
.footer_icon {
    float: right;
}
.footer__link {
	color: #fff;
	text-transform: uppercase;
	font-size: .9rem;
	text-decoration: none;
}