*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
}
body{
    background-color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    max-width: 1920px;
    border: solid 0px white;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./img/BG\ Flower.svg);
    background-repeat: no-repeat;
    background-position: 1191px 659px;
    background-attachment: local;
}
header{
    background-color: #F8F4FC;
    color: #354657;
    height: 117px;
}
.div_header1{
    width: 600px;
    display: inline-block;
}
.div_header2{
    display: inline-block;
    position: relative;
    top: -22px;
    left: 73px;
}
nav{
    display: inline-block;
}
header>div>a{
    margin-left: 316px;
    margin-top: 11px;
    width: 267px;
    display: inline-block;
}
nav>ul>li{
    display: inline-block;
}
nav>ul>li:nth-child(2){
    margin-left: 50px;
}
nav>ul>li:nth-child(3){
    margin-left: 50px;
}
nav>ul>li:nth-child(4){
    margin-left: 50px;
}
nav>ul>li:nth-child(5){
    margin-left: 365px;
}
nav>ul>li:nth-child(6){
    margin-left: 34px;
}
nav>ul>li:nth-child(7){
    margin-left: 34px;
}
nav>ul>li>a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 18.78px;
    color: #354657;
}
section.content-top{
    margin-left: 526px;
    width: 740px;
}
section.content-middle{
    margin-left: 526px;
    width: 740px;
    margin-top: 40px;
}
section article
{
    margin-top: 71px;
    height: 35px;
}
article h1
{
    font-family: Raleway;
    font-size: 30px;
    font-weight: 700;
    font-style: italic;
    text-align: center;
}
[src*="img_article"]{
    margin-top: 40px;
}
.section-text2{
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.mark{
    float: left;
    width: 736px;
    height: 139px;
}
.mark-content{
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 24px;
    padding: 12px 30px 0px 23px;
}
[src*="ковычки"]{
    margin-top: 2px;
    margin-left: 23px;
}
aside{
    float: left;
    width: 4px;
}
p.content-bottom{
    padding: 40px 0px 20px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
p.p_down{
    border-top: 1px solid #6d8aa7;
    padding: 20px 0px 0px 5px;
}
[src*="labels"]{
padding-bottom: 100px;
}
footer{
    height: 97px;
    border: 1px solid #6d8aa7;
    margin-top: 475px;
    margin-bottom: 3px;
}
.li_foot_second1{
padding: 19px 0px 0px 316px;
}
.li_foot_second2{
    position: relative;
    left: 40px;
    top: -25px;
}
.li_foot_second3{
    position: relative;
    left: 40px;
    top: -25px;
}
.li_foot_second4{
    position: relative;
    left: 260px;
    top: -15px;
}
.li_foot_second5{
    position: relative;
    left: 17px;
    top: -15px;
}
.li_foot_second5{
    position: relative;
    left: -95px;
    top: -15px;
}
.li_foot_second6{
    position: relative;
    left: -116px;
    top: -15px;
}
.li_foot_second7{
    position: relative;
    left: -136px;
    top: -15px;
}
.li_foot_second8{
    position: relative;
    left: -121px;
    top: -15px;
}
.li_foot_second9{
    position: relative;
    left: -50px;
}