body{
    background-color:#12062c;
    width: 1920px;
    height: 2500px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
}
.container {
    width: 100%;
    max-width: 1920px;
    max-height: 981px;
    margin: 0 auto;
}
.div1{
    position: absolute;
    height: 113px;
    width: 670px;
    left: 934px;
    top: 431px;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
}
.div2{
    position: absolute;
    height: 113px;
    width: 670px;
    left: 934px;
    top: 539px;
}
.text_p2{
    font-size: 20px;
    font-weight: 400;
    line-height: 25.38px;
    padding: 0px;
}
.div3{
    position: absolute;
    height: 54px;
    width: 670px;
    left: 934px;
    top: 680px;
    color: #211637;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}
.text_p3{
    font-size: 15px;
    font-weight: 700;
    line-height: 18.29px;
    text-align: center;
    margin: 9px auto;
}
.div4{
    position: absolute;
    top: 783px;
    left: 1304px;
    z-index: 1;
}
.bt1-1{
    height: 56px;
    width: 300px;
    background-color: #F09F0C;
    text-align: center;


    font-size: 16px;
    font-weight: 700;
    line-height: 19.5px;
    color:#1F1F1F;
    text-decoration: none;
    text-transform: uppercase;
}
.div4:hover{
    box-shadow: 0px 4px 20px 0px #7D5103;
}
[src*="icon1"]{
    position: absolute;
    width: 1918px;
    height: 783px;
    top: 981px;
    left: 61px;
    opacity: 90%;
}
[src*="Картинка 2"]{
    position: absolute;
    top: 238px;
    left: 61px;
    width: 1229px;
    height: 767px;
}
[src*="Старт"]{
    position: absolute;
    top: 760px;
    left: 934px;
    width: 768px;
    height: 141px;
}
[src*="Line"]{
    position: absolute;
    top: 796px;
    left: 1202px;
    width: 95px;
    height: 25px;
}
[src*="Rectangle_up"]{
    position: absolute;
    width: 2041px;
    height: 197px;
    top: 981px;
    left: 0px;
    opacity: 15%;
}
[src*="Rectangle_down"]{
    position: absolute;
    width: 2041px;
    height: 197px;
    top: 1581px;
    left: 0px;
    opacity: 15%;
}
[src*="Иконки"]{
    position: absolute;
    top: 1110px;
    left: 557px;
}
[src*="Знак вопроса"]{
    position: absolute;
    width: 574px;
    height: 537px;
    top: 1508px;
    left: 59px;
}
[src*="Мужчина"]{
    position: absolute;
    width: 496px;
    height: 737px;
    top: 1581px;
    left: 334px;
}
[src*="Arrow"]{
display: inline-block;
}
.div5{
    position: absolute;
    left: 434px;
    top: 1238px;
    width: 370px;
    height: 224px;

    text-align: center;
    font-weight: 900;
    line-height: 23.4px;
}
.span-text1{
    font-weight: 400;
}
.div6{
    position: absolute;
    left: 834px;
    top: 1238px;
    width: 368px;
    height: 224px;

    text-align: center;
    font-weight: 900;
    line-height: 23.4px;
}
.div7{
    position: absolute;
    left: 1234px;
    top: 1238px;
    width: 368px;
    height: 224px;

    text-align: center;
    font-weight: 900;
    line-height: 23.4px;
}
.div8{
    position: absolute;
    top: 1465px;
    left: 434px;
    width: 1170px;
    height: 116px;

    text-align: center;
    font-style: black;
    font-weight: 900;
    font-size: 36px;
    line-height: 43.88px;
    color: #F09F0C;
}
.span-text2{
    color: #FFFFFF;
}
.div9{
    position: absolute;
    top: 1569px;
    left: 434px;
    width: 1170px;
    height: 116px;

    text-align: center;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 24px;
    line-height: 29.26px;

    padding-top: 12px;
}
table{
    position: absolute;
    top: 1658px;
    left: 936px;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.6px;
}
.td_arrow{
    height: 69px;
    padding-right: 23px;
}
.td_text{
    padding-top: 10px;
}