/*Обнуление*/
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	background-color: #FFFFFF;
    max-width: 800px;
}
ul {
	list-style: none;
}

header {
    width: 800px;
    height: 200px;
    border: 2px solid orange;
}
main {
    width: 800px;
    height: 400px;
}
nav {
    width: 100px;
    height: 400px;
    border: 2px solid orange;
    float: left;

}
section {
    width: 700px;
    height: 400px;
    border: 2px solid orange;
    float: left;

}
footer {
    width: 800px;
    height: 200px;
    border: 2px solid gray;
}